@model IEnumerable<Biblioteca.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Personas</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Registrar persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="ImprimirHistorial" asp-route-id="@item.Id"  data-toggle="tooltip" data-placement="top" title="Ver historial">
                    <i class="bi bi-file-pdf"></i>
                </a> 
                @if(item.Estado == "BLOQUEADO" && User.IsInRole("Administrador"))
                {
                    <a class="btn btn-success" asp-action="Restaurar" asp-route-id="@item.Id"  data-toggle="tooltip" data-placement="top" title="Restaurar usuario">
                        <i class="bi bi-person-fill-lock"></i>
                    </a> 
                }
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"  data-toggle="tooltip" data-placement="top" title="Editar usuario">
                    <i class="bi bi-pencil-square"></i>
                </a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"  data-toggle="tooltip" data-placement="top" title="Eliminar usuario">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
