@using System.Security.Claims
@model Biblioteca.Dto.CrearSancion;

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Prestamo!.Libro!.Titulo</h1>

<div class="row">
    <div class="col col3 d-flex justify-content-around">
        <img  style="max-width: 15rem; height: 20rem;" src="/imgPortada/@Model.Prestamo.Libro.Rutaportada" alt="">
    </div>
    <div class="col col-8">
        <div class="row p-2">
            <div class="col col-6">
                <h4>Lector: <strong>@Model.Prestamo.Persona!.NombreCompleto</strong></h4>
            </div>
            <div class="col col-6">
                <h4>Autor: <strong>@Model.Prestamo.Libro!.Autor!.Nombre</strong></h4>
            </div>
        </div>
        <div class="row p-2">
            <div class="col col-6">
                <h4>Fecha de prestamo: <code>@Model.Prestamo.Fechaprestamo</code></h4>
            </div>
            <div class="col col-6">
                <h4>Tiempo de prestamo: <strong>@Model.Prestamo.DiasDesdePrestamo dias</strong></h4>
            </div>
        </div>
        <form asp-action="Crear" method="post">
            <div class="row p-2">
                <div class="col col-8">
                    <label for="">Motivo de sancion</label>
                    <input name="motivo" class="form-control" type="text">
                </div>
                <input type="hidden" name="PrestamoId" value="@Model.Prestamo!.Id">
                <input type="hidden" name="PersonaId" value="@Model.Prestamo.Persona.Id">
                <div class="col col-4">
                    <label for="">Monto de sancion</label>
                    <input name="monto" class="form-control" type="text">
                </div>
            </div>
            <div class="row p-2">
                <div class="col auto d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Crear sancion</button>
                </div>
            </div>
        </form>
    </div>
</div>