@model IEnumerable<Biblioteca.Models.Sancion>

@{
    ViewData["Title"] = "Index";
    var index = 1;
}

<h1>Sanciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>N°</th>
            @if(User.IsInRole("Administrador") || User.IsInRole("Usuario")) {
                <th>Lector</th>
            }
            <th>Libro</th>
            <th>Monto sancion</th>
            <th>Fecha sancion</th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@index</td>
            @if(User.IsInRole("Administrador") || User.IsInRole("Usuario")) {
                <td>
                    @Html.DisplayFor(modelItem => item.Persona!.NombreCompleto)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Prestamo!.Libro!.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montototal)
            </td>
            <td>@item.Prestamo!.Fechadevolucion</td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
        </tr>
        index++;
}
    </tbody>
</table>
