@model IEnumerable<Biblioteca.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Libritos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                imagen
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ejemplares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechareg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditorialId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                <img src="/imgPortada/@Html.DisplayFor(Modelitem=>item.Rutaportada)" />
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ejemplares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechareg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor!.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria!.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial!.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
