@model IEnumerable<Biblioteca.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
    var index = 1;
}

<div class="row">
    <div class="col col-3">
        <h1>Prestamos</h1>
    </div>
    <div class="col col-9">
        @if (User.IsInRole("Administrador") || User.IsInRole("Usuario"))
        {
            <div class="row d-flex justify-content-between">
                <div class="col col-6">
                    <a class="btn btn-outline-success outline" asp-action="Create">Crear Reserva</a>
                </div>
                <div class="col col-6 d-flex justify-content-end">
                    <select id="reportSelect" class="form-select me-2" onchange="navigateToReport()">
                        <option value="" selected disabled>Generar reporte</option>
                        <option value="/Prestamos/ReservacionesPdf">Reservaciones</option>
                        <option value="/Prestamos/PrestamosRealizadosPdf">Préstamos realizados</option>
                        <option value="/Prestamos/LibrosDevueltosPdf">Libros devueltos</option>
                    </select>

                </div>

            </div>
        }
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Fecha de solicitud</th>
            <th>Fecha de prestamo</th>
            <th>Fecha de devolucion</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Libro</th>
            @if (User.IsInRole("Administrador") || User.IsInRole("Usuario"))
            {
                <th>Lector</th>
            }
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var rowClass = item.Estado switch
            {
                "RESERVADO" => "table-warning",
                "PRESTADO" => "table-info",
                "DEVUELTO" => "table-success",
                _ => ""
            };

            if (item.DiasDesdePrestamo > 3 && item.Estado == "PRESTADO") {
                rowClass = "table-danger";
            }
            
            <tr class="@rowClass">
                <th>@index</th>
                <td>@Html.DisplayFor(modelItem => item.Fechaprestamo)</td>
                <td>
                    @if (item.Estado == "RESERVADO")
                    {
                        <p>-</p>
                    }
                    else
                    {
                        <p>@item.FechaConfirmacion</p>
                    }
                </td>
                <td>
                    @if (item.Estado == "PRESTADO")
                    {
                        <p>@item.DiasDesdePrestamo dias</p>
                    }
                    else if(item.Estado == "DEVUELTO")
                    {
                        <p>@item.Fechadevolucion</p>
                    }
                    else {
                        <p>-</p>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td>@Html.DisplayFor(modelItem => item.Libro!.Titulo)</td>
                @if (User.IsInRole("Administrador") || User.IsInRole("Usuario"))
                {
                    <td>@Html.DisplayFor(modelItem => item.Persona!.NombreCompleto)</td>
                    
                }
                <td>
                    @if(User.IsInRole("Administrador") || User.IsInRole("Usuario")) {
                        @if(item.Estado == "RESERVADO") {
                            <form asp-action="ConfirmarPrestamo" asp-controller="Prestamos" method="post">
                                <input name="id" value="@item.Id" type="hidden">
                                <button type="submit" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="Confirmar prestamo">
                                    <i class="bi bi-check"></i>
                                </button>
                            </form>
                        }
                        @if(item.Estado == "PRESTADO" && item.DiasDesdePrestamo <= 3) {
                            <form asp-action="ConfirmarDevolucion" asp-controller="Prestamos" method="post">
                                <input name="id" value="@item.Id" type="hidden">
                                <button type="submit" class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Confirmar devolucion">
                                    <i class="bi bi-check-all"></i>
                                </button>
                            </form>
                            
                        }
                        @if(item.DiasDesdePrestamo > 3 && item.Estado == "PRESTADO") {
                            <a asp-action="CrearSancion" asp-controller="Sanciones" asp-route-id="@item.Id" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Crear sancion">
                                <i class="bi bi-ban"></i>
                            </a>
                        }
                    }
                    @if(item.Estado == "RESERVADO") {
                        <button class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Cancelar prestamo" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="bi bi-trash"></i>
                        </button>
                    }
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
@section scripts {
    <script>
        function navigateToReport() {
    const reportUrl = document.getElementById("reportSelect").value;

    if (!reportUrl) {
        alert("Por favor, selecciona un tipo de reporte.");
        return;
    }

    // Redirigir al usuario a la URL seleccionada
    window.location.href = reportUrl;
}

    </script>
}